@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://img.freepik.com/free-photo/fantasy-magic-landscape_23-2151502943.jpg?t=st=1716204827~exp=1716208427~hmac=5d1b494e8c98fc5f0a32535cff012d2f94720234931ad19da4c7c72bf61d8470&w=996);
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemon-logo {
    display: block;
    margin: 0 auto;
    width: 400px; 
}

.container {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    margin: auto;
    margin-top: 15px;
    border: 15px;
    max-width: 1200px;
    gap: 20px
}

.card {
    background-image: linear-gradient(to bottom, rgb(72, 72, 247), lightblue);
    border-radius: 8px;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 10px 10px;
    opacity: .85;
}


.card-bg {
    background: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGJ0czZnMWd3dmpzdjY0NHoxMTN2NDhwcXk2enJ2bnd1aHdxd3FucCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IyRiAsl1Pczi6Y/giphy.gif);
    background-position: center;
    background-size: cover;
}

image {
    height: 100px;
    position: absolute;
}

.name {
    font-family: "Merriweather";
    font-size: 30px;
    margin: 10px 0;
    color: white;
}

.pokemon-type {
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px 0;
    display: inline;
}

.normal {
    background-color: #5e5c57;
}

.ground {
    background-color: #cf5a06;
}

.fire {
    background-color: #ff1302;
}

.psychic {
    background-color: #f153ea;
}


.fighting {
    background-color: #f79f4d;
}


.water {
    background-color: #0011ff;
}


.dragon {
    background-color: #a890f0;
}


.ice {
    background-color: #00d9ff;
}

.description {
    font-size: 15px;
    margin: 10px 0;
    color: white;
}

.elementnormal
{
    background-image: linear-gradient(to bottom, grey, darkgrey);
    border-radius: 10px;
}

.elementground
{
    background-image: linear-gradient(to bottom, #cf5a06, #ff1302);
    border-radius: 10px;
}

.elementpsychic
{
    background-image: linear-gradient(to bottom, #f153ea, #f79f4d);
    border-radius: 10px;
}

.elementwater
{
    background-image: linear-gradient(to bottom, rgb(0, 183, 255), rgb(8, 102, 133));
    border-radius: 10px;
}

.elementdragon
{
    background-image: linear-gradient(to bottom, #a890f0, #00d9ff);
    border-radius: 10px;
}

.elementice
{
    background-image: linear-gradient(to bottom, #00d9ff, #8cdceb);
    border-radius: 10px;
}
.card-buttons {
    margin-top: auto;
    width: 100%;
    justify-content: space-around;

}

.card-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {background-color:rgb(77, 75, 75)}

.card-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
